@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'prismjs/themes/prism.css';

/* Default text color for code blocks (light theme) */
code[class*="language-"] {
  color: #1f2937; /* Dark color for light theme */
}

/* Text color for code blocks in dark theme */
.dark code[class*="language-"] {
  color: #ffffff; /* Light color for dark theme */
}

.dark.dark pre[class*="language-"] {
  background: #2d2d2d;
  color: white;
}

.dark.dark code > pre.language-tsx {
  color: white; /* Makes text color white for TSX code blocks */
}

/* Ensure parent elements have correct text colors for themes */
pre, code {
  color: var(--text-color); /* Using CSS variable for easy theme switching */
}

/* Customize colors for specific tokens in dark mode for readability */
.dark .token.comment,
.dark .token.block-comment,
.dark .token.prolog,
.dark .token.doctype,
.dark .token.cdata {
  color: #f5f2f0;
  text-shadow: none;
  box-shadow: none;
  -webkit-text-fill-color: currentColor;
}

.dark .token.constant {
  color: #56b6c2;
}

.dark .token.boolean {
  color: #23963c; /* Soft/Light Sky Blue for functions */
}

.dark .token.punctuation {
  color: white;
}

.dark .token.operator {
  color: white;
  background: inherit;
}


.dark .token.keyword {
  color: #c678dd; /* Soft purple for keywords, for distinction */
}

.dark .token.variable {
  color: #e06c75; /* Soft red for variables, for emphasis */
}

.dark .token.number {
  color: #d19a66; /* Soft orange for numbers, easy on the eyes */
}

.dark .token.string {
  color: #98c379; /* Soft green for strings, for readability */
}

.dark .token.function {
  color: #61afef; /* Soft blue for functions, stands out */
}

.dark .token.class-name {
  color: #e5c07b; /* Soft yellow for class names, for clarity */
}

.dark .token.attr-name {
  color: #d19a66; /* Reusing soft orange for attribute names, consistency */
}

.dark .token.attr-value {
  color: #98c379; /* Reusing soft green for attribute values, readability */
}



/* Custom scrollbar for Webkit browsers */
html::-webkit-scrollbar {
    width: 2vw;
  }
  
  html::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 0.5rem;
  }
  
  html::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0.5rem;
    
  }
  
  /* For Firefox */
  html {
    scrollbar-width: thin;
    scrollbar-color: #757575 #f0f0f000;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 2vw;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 15px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 15px;
    border: 3px solid #0e0e0e;
  }
  
  /* For Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #9e9e9e #2c2c2c00;
  }
  
  /* Example CSS to add indentation to nested lists */
ul { /* Targeting all unordered lists */
  padding-left: 15px; /* Adds indentation to nested lists */
}

li { /* Targeting all list items */
  margin-bottom: 5px; /* Adds some space between list items */
}

  
html {
  scroll-behavior: smooth;
}

/* Target the ResponsiveSidebarWrapper or the specific class/id you use for the scrollable area */
.responsive-sidebar-wrapper::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers (Chrome, Safari, newer versions of Opera) */
}

.responsive-sidebar-wrapper {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.bg-prismjs-default {
  background-color: #f5f2f0;
}

/* Dark mode style */
.dark .bg-prismjs-default {
  background-color: #2d2d2d; /* Dark background for dark mode */
}

.custom-code-style {
  background-color: #f5f2f0; /* Translucent gray background */
  color: #1f2937;
  padding: 0.25rem 0.5rem; /* Padding around the code for better readability */
  border-radius: 0.375rem; /* Rounded corners */
  font-family: monospace; /* Monospaced font for code */
}

